#background{
  height: 100vh;
  background-image: url('/public/images/LAOKA\ ANIO\ BCG.jpg');
  color: #fff;
  object-fit: contain;
}

.languages a{
  color: #fefefe;
}

.languages a:hover{
  color: #dedede;
}

#navbar ul li{
  margin: 0 5px;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler:focus{
  border: none;
}

#menu{
  display: none
}

#welcome_name{
  font-size: 72px;
}
